[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-ldap = "*"
pytest = "*"
nearly = {git = "https://github.com/larsks/python-nearly"}

[dev-packages]

[requires]
python_version = "3.10"
